<div th:replace="fragment/head"></div>
<title>Approval Level Master</title>
<div th:replace="fragment/header"></div>


<!-- %%%%%%%%%%%%%%%%%%%%% Page Internal CSS  %%%%%%%%%%%%%%%%%%%%% -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%%%%% Admin %%%%%%%%%%%%%%%%%%% -->
<div ng-app="SuperAdminManagment" ng-controller="ApprovalLevelController">
    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/homeSuperAdmin}"><span
                            class="icon-common icon-title-dashboard"></span>
                        Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Approval Level Master</li>
            </ol>
        </nav>
    </div>
    <div class="page-header">
        <span class="header-line"></span>
        <span class="lbl-page-header">Approval Level Master</span>
        <span class="header-line"></span>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div id="formAddContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">Approval Level Master</div>
                </div>
                <form ng-submit="addSaveApvLevel()">
                    <div class="master-add-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="name">
                                    Level Description:: <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" ng-model="form.title"
                                    ng-change="form.title = (form.title | uppercase)" aria-describedby="fullNameHelp"
                                    placeholder="Enter Level Description"
                                    oninvalid="this.setCustomValidity('Please Entry Descriptiion Name')"
                                    oninput="this.setCustomValidity('')" required>
                            </div>
                        </div>
                        <div class="master-add-form-filed col-md-12" ng-repeat="edit in form.details ">
                            <div class="row">
                                <div class="col-5"><label for="inputState" class="form-label">User:</label></div>
                                <div class="col-7"><label for="inputState" class="form-label">Order:</label></div>
                            </div>
                            <div class="row align-items-center master-add-form-sub-filed">
                                <div class="col-5">
                                    <select class="form-select" ng-model="edit.userId"
                                        oninvalid="this.setCustomValidity('Please Select Approval User')"
                                        oninput="this.setCustomValidity('')" required>
                                        <option value="" disabled selected>Select Option-</option>
                                        <option ng-repeat="user in users" value="{{ user.id }}">{{ user.name}}
                                            ({{user.role}})</option>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <input type="number" ng-model="edit.apvlLevel"
                                        ng-init="edit.apvlLevel=edit.apvlLevel" class="form-control"
                                        aria-describedby="fullNameHelp" placeholder="Enter Order" min="1" step="1"
                                        oninvalid="this.setCustomValidity('Please Entry Order No.')"
                                        oninput="this.setCustomValidity('')" required>
                                </div>
                                <div class="col-2 lbl-nowrap">
                                    <span class="btn-action btn-icon btn-success-light">
                                        <span class="icon-common icon-action icon-plus" ng-click="addRow1()"></span>
                                    </span>
                                    <span class="btn-action btn-icon btn-danger-light">
                                        <span class="icon-common icon-action icon-minus"
                                            ng-click="deleteRow1($index)"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6">
                            <div class="btn-container text-start">
                                <button type="submit" class="btn btn-submit mt-3 ms-4">SUBMIT</button>
                                <input type="reset" class="btn btn-cancel mt-3" value="CANCEL">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none" id="formEditContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">EDIT APPROVAL LEVEL MASTER</div>
                </div>
                <form ng-submit="editApvLevel()">
                    <div class="master-add-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <lab<label for="exampleInputName" class="form-label">Level Description:</label>
                                    <input type="text" class="form-control" ng-model="form.title"
                                        ng-change="form.title = (form.title | uppercase)"
                                        aria-describedby="fullNameHelp" placeholder="Enter Level Description"
                                        oninvalid="this.setCustomValidity('Please Entry Descriptiion Name')"
                                        oninput="this.setCustomValidity('')" required>
                            </div>
                        </div>
                        <div class="master-add-form-filed col-md-12" ng-repeat="edit in form.details ">
                            <div class="row">
                                <div class="col-5"><label for="inputState" class="form-label">User:</label></div>
                                <div class="col-7"><label for="inputState" class="form-label">Order:</label></div>
                            </div>
                            <div class="row align-items-center master-add-form-sub-filed">
                                <div class="col-5">
                                    <select class="form-select" ng-model="edit.userId" ng-init="edit.userId=edit.userId"
                                        ng-options="user.id as user.name+'('+user.role+')' for user in users"
                                        oninvalid="this.setCustomValidity('Please Select Location')"
                                        oninput="this.setCustomValidity('')" required>
                                        <option value="" disabled selected>Select Option-</option>
                                        <!-- <option ng-repeat="user in users" value="{{ user.id }}">{{ user.name}} ({{user.roleName}})</option> -->
                                    </select>
                                </div>
                                <div class="col-5">
                                    <input type="text" ng-model="edit.apvlLevel" ng-init="edit.apvlLevel=edit.apvlLevel"
                                        class="form-control" aria-describedby="fullNameHelp" placeholder="Enter Order"
                                        min="1" step="1" oninvalid="this.setCustomValidity('Please Entry Order No.')"
                                        oninput="this.setCustomValidity('')" required>
                                </div>
                                <div class="col-2 lbl-nowrap">
                                    <span class="btn-action btn-icon btn-success-light">
                                        <span class="icon-common icon-action icon-plus" ng-click="addRow1()"></span>
                                    </span>
                                    <span class="btn-action btn-icon btn-danger-light">
                                        <span class="icon-common icon-action icon-minus"
                                            ng-click="deleteRow1($index)"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6">
                            <div class="btn-container text-start">
                                <button type="submit" class="btn btn-submit mt-3 ms-4">UPDATE</button>
                                <input type="reset" class="btn btn-cancel mt-3" value="CANCEL">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="page-action-container">
                <div class="page-action-start-container">
                    <form class="position-relative">
                        <input class="form-control" type="search" placeholder="Search Department..." ng-model="search"
                            aria-label="Search">
                        <span class="icon-common icon-form icon-search"></span>
                    </form>
                </div>
            </div>
            <div class="user-details overflow-x-auto">
                <table class="table-user-details table-lg">
                    <tr class="table-head-primary">
                        <th>SL No.</th>
                        <th>Appvl Level Name</th>
                        <th>Customer Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tbody ng-repeat="data in approvalOrders | filter:search" class="list-row-container">
                        <tr class="master-list list-row row-red" onclick="activeSubRow(this)">
                            <td>{{$index + 1}}</td>
                            <td>{{data.title}}</td>
                            <td>{{data.company}}</td>
                            <td>
                                <form method="POST" class="content-center" ng-if="data.status==false">
                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                            ng-click="userActivation(data.id)" ng-model="data.status" name="status"
                                            checked=""> <span class="knob"></span>
                                    </label>
                                </form>
                                <form method="POST" class="content-center" ng-if="data.status==true">
                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                            ng-click="userDeactivation(data.id)" ng-model="data.status" name="status"
                                            checked=""> <span class="knob"></span>
                                    </label>

                                </form>
                            </td>
                            <td>
                                <div class="action-container">
                                    <span class="btn-action btn-icon btn-edit">
                                        <span class="icon-common icon-action icon-edit-new"
                                            ng-click="apvleveledit(data.id)" onclick="openMasterEditview(this)"></span>
                                    </span>
                                    <!-- <span class="btn-action btn-icon btn-trash"
                                    sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                    <span class="icon-common icon-action icon-trash"
                                        ng-click="deleteusertype(usertype.id)" title="Delete"></span>
                                </span> -->
                                </div>
                            </td>
                        </tr>
                        <tr class="sub-row" style="position: relative; left: 10%;">
                            <th class="sub-row-header">Name</th>
                            <th class="sub-row-header">Approval Order</th>
                            <th class="sub-row-header">Status</th>
                        <tr class="sub-row" ng-repeat="tdata in data.approvalDetails"
                            style="position: relative; left: 10%;">
                            <td>{{tdata.name}}</td>
                            <td>{{tdata.apvlLevel}}</td>
                            <td>
                                <form method="POST" class="content-center" ng-if="tdata.status==false">
                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                            ng-click="activeDetails(tdata.id)" ng-model="tdata.status" name="status"
                                            checked=""> <span class="knob"></span>
                                    </label>
                                </form>
                                <form method="POST" class="content-center" ng-if="tdata.status==true">
                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                            ng-click="deActiveDetails(tdata.id)" ng-model="tdata.status" name="status"
                                            checked=""> <span class="knob"></span>
                                    </label>
                                </form>
                            </td>
                            <!-- <td colspan="4"></td> -->
                        </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

<div th:replace="fragment/footer"></div>
<script src="private/admin/approvallevel.js"></script>