<div th:replace="fragment/head"></div>
<title>Designation Master</title>
<div th:replace="fragment/header"></div>


<!-- %%%%%%%%%%%%%%%%%%%%% Page Internal CSS  %%%%%%%%%%%%%%%%%%%%% -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%%%%% Admin %%%%%%%%%%%%%%%%%%% -->
<div ng-app="DesignationManagment" ng-controller="DesignationController">
    <div class="page-header">
        <span class="header-line"></span>
        <span class="lbl-page-header">Designation Master</span>
        <span class="header-line"></span>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div id="formAddContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">ADD DESIGNATION</div>
                </div>
                <form ng-submit="addDesignation()">
                    <div class="master-add-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="planName">
                                    Department: <span class="text-danger">*</span>
                                </label>
                                <select name="departmentId" ng-model="form.departmentId" class="form-control select2"
                                    oninvalid="this.setCustomValidity('Please Select Sub Company')"
                                    oninput="this.setCustomValidity('')" required>
                                    <option value disabled selected="selected">-Select Department-</option>

                                    <option ng-repeat="dept in department" value="{{ dept.id }}">
                                        {{ dept.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="planName">
                                    Designation: <span class="text-danger">*</span>
                                </label>
                                <input type="text" ng-change="form.name = (form.name | uppercase)" ng-model="form.name"
                                    ng-init="form.name=form.name" class="form-control" aria-describedby="fullNameHelp"
                                    placeholder="Enter Designation Name" required>
                            </div>
                        </div>
                        <div class="btn-container ">
                            <button type="submit" class="btn btn-submit mt-3">SUBMIT</button>
                            <button type="submit" class="btn btn-cancel mt-3" ng-click="refresh()">CANCEL</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-none" id="formEditContainer">
                <div class="page-action-container justify-content-center">
                    <div class="lbl-page-action-header">EDIT DESIGNATION</div>
                </div>
                <form ng-submit="addDesignation()">
                    <div class="master-add-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="planName">
                                    Department: <span class="text-danger">*</span>
                                </label>
                                <select name="departmentId" ng-model="form.departmentId" class="form-control select2"
                                    ng-options="dept.id as dept.name for dept in department" required>
                                    <option value disabled selected="selected">-Select Company-</option>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="planName">
                                    Designation: <span class="text-danger">*</span>
                                </label>
                                <input type="text" ng-change="form.name = (form.name | uppercase)" ng-model="form.name"
                                    ng-init="form.name=form.name" class="form-control" aria-describedby="fullNameHelp"
                                    placeholder="Enter Designation Name" required>
                            </div>
                        </div>
                        <div class="btn-container ">
                            <button type="submit" class="btn btn-submit mt-3">SUBMIT</button>
                            <button type="submit" class="btn btn-cancel mt-3" ng-click="refresh()">CANCEL</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="page-action-container">
                <div class="page-action-start-container">
                    <form class="position-relative">
                        <input class="form-control" type="search" placeholder="Search Designation Type..."
                            ng-model="search" aria-label="Search">
                        <span class="icon-common icon-form icon-search"></span>
                    </form>
                </div>
            </div>
            <div class="user-details overflow-x-auto">
                <table class="table-user-details table-lg">
                    <tr class="table-head-primary">
                        <th class="text-start">
                            <label class="form-check-label" for="flexCheckDefault">SL No.</label>
                        </th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Company Name</th>
                        <th>Action</th>
                    </tr>
                    <tbody ng-repeat="dept in designation | filter:search" class="master-list">
                        <tr class="row-red">
                            <td>
                                <div class="d-flex align-items-center">
                                    <label class="form-check-label" for="flexCheckDefault">{{$index+1}}</label>
                                </div>
                            </td>
                            <td>{{dept.name}}</td>
                            <td>{{dept.deptName}}</td>
                            <td>{{dept.companyName}}</td>
                            <td>
                                <div class="action-container">
                                    <span class="btn-action btn-icon btn-edit">
                                        <span class="icon-common icon-action icon-edit-new" ng-click="findById(dept.id)"
                                            onclick="openMasterEditview(this)"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>
<script src="private/admin/designation.js"></script>