<div th:replace="fragment/head"></div>
<title>Leave Report</title>
<div th:replace="fragment/header"></div>
<div ng-app="AdminManagment" ng-controller="LeaveReportController">
    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}"><span class="icon-common icon-title-dashboard"></span>
                        Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Leave Report</li>
            </ol>
        </nav>
    </div>
    <div class="user-details-container">
        <div class="page-header">
            <span class="header-line"></span> <span class="lbl-page-header">Leave Report</span>
            <span class="header-line"></span>
        </div>
        <div class="page-action-container">
            <div class="page-action-start-container">
                <div class="btn-page-action-container">
                    <select class="btn btn-page-action btn-page-action-dropdown" ng-model="nameList.user_id"
                    ng-change="getDataNameWise(nameList.user_id,nameList.month_id)"
                    ng-options="td.user_id as td.username for td in nameList">
                    <option class="select-item" value="">-Select Employee-</option>
                </select>
                </div>
                <div class="btn-page-action-container">
                    <select class="btn btn-page-action btn-page-action-dropdown" ng-model="month_id"
                    ng-change="filterByMonth(month_id)"
                        ng-options="monthYearObj.month as monthYearObj.name for monthYearObj in uniqueMonths">
                        <option class="select-item" value="">-Select Month-</option>
                    </select>
                </div>
                <div class="btn-page-action-container">
                    <select class="btn btn-page-action btn-page-action-dropdown" ng-model="leave_status"
                            ng-change="filterByLeaveStatus(leave_status)">
                        <option class="select-item" selected value="">All</option>
                        <option class="select-item" value="C">Pending</option>
                        <option class="select-item" value="A">Completed</option>
                        <option class="select-item" value="R">Rejected</option>

                    </select>
                </div>
            </div>
            <div class="page-action-end-container">
                <div class="btn-page-action-container">
                    <div class="dropdown">
                        <button class="btn btn-page-action" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="icon-common icon-filter icon-page-action-button"></span>
                            <span class="lbl-page-action-button">Filter</span>
                        </button>
                            <ul class="dropdown-menu filter-dropdown-menu"
                                aria-labelledby="dropdownMenuButton1">
                                <form ng-submit="fetchAttendanceData()">
                                <div class="lbl-filter-header">Start Date:</div>
                                <input class="form-control filter-date-picker w-100" ng-model="date.startdate" type="text"
                                id="holidayDate" placeholder="dd-mm-yyy">
                                <div class="lbl-filter-header">End Date:</div>
                                <input class="form-control filter-date-picker w-100" ng-model="date.enddate" type="text"
                                id="holidayDate" placeholder="dd-mm-yyy">
                                <div class="text-center mt-4">
                                    <button class="btn btn-apply btn-primary">
                                        <span class="lbl-btn">Apply</span> <span
                                            class="icon-common icon-btn icon-check"></span>
                                    </button>
                                </div>
                            </form>
                            </ul>
                    </div>
                </div>
                <div class="btn-page-action-container">
                    <button class="btn btn-page-action btn-page-action-dropdown"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="lbl-page-action-button">Export As</span> <span
                            class="icon-common icon-chevron icon-page-action-button"></span>
                    </button>
                    <ul class="dropdown-menu action-dropdown-menu"
                        aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" ng-click="exportData()"> <span
                                class="icon-common icon-action-dropdown icon-excel"></span> <span
                                class="">Excel</span>
                        </a></li>
                        <li><a class="dropdown-item" ng-click="printData()"> <span
                                class="icon-common icon-action-dropdown icon-print"></span> <span
                                class="">Print</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="user-details overflow-x-auto" id="customers">
            <table class="table-user-details table-lg">
                <tr class="table-head-primary row-red">
                    <th><label class="form-check-label" for="flexCheckDefault">SL
                            No.</label></th>
                    <th>Name</th>
                    <th>Leave Start Date</th>
                    <th>Leave End Date</th>
                    <th>No Of Days</th>
                    <th>Leave Type</th>
                    <th>Action By</th>
                    <th>Status</th>
                    <div class="spinner-wrapper" id="loader">
                        <div class="spinner">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                <tbody ng-repeat="data in leaveData | filter:search">
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <label class="form-check-label" for="flexCheckDefault">{{$index+1}}</label>
                        </div>
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.leaveStartDate}}</td>
                    <td>{{data.leaveEndDate}}</td>
                    <td>{{data.noOfDaysLeave}}</td>
                    <td>{{data.typeOfLeave}}</td>
                    <td>{{data.activityBy}}</td> 
                   <td>
                    <div style="text-align: center !important;" ng-If="data.status =='C'"
                        class="lbl-status-striker lbl-warning-stricker">Pending</div>
                    <div ng-If="data.status =='A'"
                        class="lbl-status-striker lbl-success-stricker">Approved</div>
                    <div ng-If="data.status =='R'"
                        class="lbl-status-striker lbl-danger-stricker">Rejected
                    </div>        
                    </td>     
                </tbody>
                <tr ng-if="leaveData.length == 0">
                    <td colspan="15" style="font-size: large;">No data found
                        current month</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragment/footer"></div>
<script src="private/admin/reportleave.js"></script>