<div th:replace="fragment/head"></div>
<title>Role Master</title>
<div th:replace="fragment/header"></div>


<!-- %%%%%%%%%%%%%%%%%%%%% Page Internal CSS  %%%%%%%%%%%%%%%%%%%%% -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%%%%% Admin %%%%%%%%%%%%%%%%%%% -->
		<div class="user-details-container" ng-app="SuperAdminManagment" ng-controller="RoleMasterController">
            <div class="breadcrumb-container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/homeSuperAdmin}"><span class="icon-common icon-title-dashboard"></span>
                                Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Role Master</li>
                    </ol>
                </nav>
            </div>
			<div class="page-header">
				<span class="header-line"></span>
				<span class="lbl-page-header">Role Master</span>
				<span class="header-line"></span>
			</div>
			<div class="row">
				<div class="col-xl-4">
					<div id="formAddContainer">
					<div class="page-action-container justify-content-center">
						<div class="lbl-page-action-header">Role Master</div>
					</div>
					<form ng-submit="addRole()">
					<div class="master-add-form">                 
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="name">
                                    <span class="text-danger">*</span> Role Name: 
                                </label>
                                <input name="name" type="text" ng-model="form.name" class="form-control"
                                    placeholder="Enter Role Name"
                                    ng-change="form.name = (form.name | uppercase)"
                                    oninvalid="this.setCustomValidity('Please Enter Role Name')"
                oninput="this.setCustomValidity('')" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="name">
                                    <span class="text-danger">*</span> Dashboard Access: 
                                </label>
                                <select ng-model="form.access" class="form-select" oninvalid="this.setCustomValidity('Please Select Dashboard Access')"
                                oninput="this.setCustomValidity('')" required>
                                    <option value="">Select Option</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="HOD">HOD</option>
                                    <option value="HR">HR</option>
                                    <option value="BACKOFFICE">BACKOFFICE</option>
                                    <option value="FINANCE" sec:authorize="hasAuthority('FINNACEACCESS')">FINANCE</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                        </div>
						<div class="btn-container text-start">
							<button type="submit" class="btn btn-submit mt-3 ms-4">SUBMIT</button>
							<input type="reset" class="btn btn-cancel mt-3"  value="CANCEL">
						</div>
					</div>
				</form>
			</div>
			<div class="d-none" id="formEditContainer">
				<div class="page-action-container justify-content-center">
					<div class="lbl-page-action-header" >EDIT USER ROLE</div>
				</div>
				<form ng-submit="addRole()">
					<div class="master-add-form">                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="name">
                                    <span class="text-danger">*</span> Role Name: 
                                </label>
                                <input name="name" type="text" ng-model="form.name" class="form-control"
                                    placeholder="Enter Role Name"
                                    ng-change="form.name = (form.name | uppercase)" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="text-dark lbl-medium" for="name">
                                    <span class="text-danger">*</span> Dashboard Access: 
                                </label>
                                <select ng-model="form.access" class="form-select">
                                    <option value="">Select Option</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="HOD">HOD</option>
                                    <option value="HR">HR</option>
                                    <option value="BACKOFFICE">BACKOFFICE</option>
                                    <option value="FINANCE">FINANCE</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                        </div>
						<div class="btn-container text-start">
							<button type="submit" class="btn btn-submit mt-3 ms-4">UPDATE</button>
							<input type="reset" class="btn btn-cancel mt-3"  value="CANCEL">
						</div>
					</div>
				</form>
			</div>
				</div>
				<div class="col-xl-8">
					<div class="page-action-container">
						<div class="page-action-start-container">
							<form class="position-relative">
								<input class="form-control" type="search" placeholder="Search User Type..." ng-model="search" aria-label="Search">
								<span class="icon-common icon-form icon-search"></span>
							</form>
						</div>
					</div>
					<div class="user-details overflow-x-auto">
						<table class="table-user-details table-lg">
							<tr class="table-head-primary">
                                <th>SL No.</th>
                                <th>Role Name</th>
                                <th>Company Name</th>
                                <th>Access</th>
                                <th>Status</th>
                                <th>Action</th>
							</tr>
<tbody ng-repeat="role in roles | filter:search" class="master-list">
    <tr class="row-red">
        <td>{{$index + 1}}</td>
        <td><span class="user-role">{{role.name}}</span></td>
        <td><span class="user-role">{{role.companyName}}</span></td>     
        <td><span class="user-role">{{role.access}}</span></td>                      
        <td>
            <form method="POST" class="content-center">
                <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                <label class="switch">
                    <input class="user" type="checkbox" data-id="2"
                        ng-click="changeStatus(role.id)" ng-model="role.status"
                        name="status" checked="">
                    <span class="knob"></span>
                </label>
            </form>
        </td>
        <td>
            <div class="action-container">
                <span class="btn-action btn-icon btn-edit">
                    <span class="icon-common icon-action icon-edit-new" ng-click="editRole(role.id)" onclick="openMasterEditview(this)"></span>
                </span>
                <!-- <span class="btn-action btn-icon btn-trash" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                    <span class="icon-common icon-action icon-trash"
                    ng-click="deleteUserRole(role.id)" title="Delete"></span>
                </span> -->
            </div>
        </td>
    </tr>
</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
        <!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>

<script src="private/superadmin/role.js"></script>