<div th:replace="fragment/head"></div>
<title>Subcription</title>
<div th:replace="fragment/header"></div>
<div ng-app="SuperAdminManagment" ng-controller="HolidayMasterController">
    <div class="page-header">
        <span class="header-line"></span>
        <span class="lbl-page-header">Subcription Details</span>
        <span class="header-line"></span>
    </div>

</div>

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>
<script src="private/superadmin/subcription.js"></script>