<div class="body">
	<div class="left-bar" id="navContainer">
		<div class="side-menu" id="navMenu">
			<div class="side-menu-header d-none"></div>
			<div class="side-menu-body">
				<ul class="nav-menu-container" sec:authorize="hasAuthority('VARELI')">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/homeCompany}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-dashboard"></span> <span
								class="link-name">Dashboard</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/companyManagment}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-user-service"></span> <span
								class="link-name">Company Master</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/planMaster}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-order"></span> <span class="link-name">Plan
								Master</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/superadmin}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-user"></span> <span class="link-name">Superadmin
								Master</span>
						</a>
					</li>
					<li class="nav-item" id="navCourse">
						<a class="nav-link" id="courseLink" onclick="toggleSubMenu(this)">
							<span class="icon-common icon-sidemenu icon-settings"></span> <span
								class="link-name">Settings</span> <span
								class="icon-common icon-sidemenu icon-chevron"></span>
						</a>
						<ul class="sub-menu-container">
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/countrymaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Country
										Master</span>
								</a>
								<a class="sub-menu-link" th:href="@{/statemaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">State
										Master</span>
								</a> <a class="sub-menu-link" th:href="@{/citymaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">City
										Master</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- *********************SUPERADMIN*************** -->
				<ul class="nav-menu-container" sec:authorize="hasAuthority('SUPERADMIN')">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/homeSuperAdmin' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/homeSuperAdmin}"> <span
								class="icon-common icon-sidemenu icon-dashboard"></span> <span
								class="link-name">Dashboard </span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}"
						sec:authorize="hasAuthority('SUBCOMPANY')">
						<a class="nav-link active" th:href="@{/subcompany}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-department-sidebar"></span> <span
								class="link-name">Company
								Master</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/saas-vcommute/homeCompany' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/usermanage}" onclick="toggleSubMenu(this)"> <span
								class="icon-common icon-sidemenu icon-user-service"></span> <span class="link-name">User
								Managment</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/subcription' ? 'sub-menu-active':''}">
						<a th:href="@{/subcription}" class="nav-link"> <span
								class="icon-common icon-sidemenu icon-order"></span> <span
								class="link-name">Subscription</span>
						</a>
					</li>
					<li class="nav-item" id="navCourse">
						<a class="nav-link" id="courseLink" onclick="toggleSubMenu(this)">
							<span class="icon-common icon-sidemenu icon-settings"></span> <span
								class="link-name">Settings</span> <span
								class="icon-common icon-sidemenu icon-chevron"></span>
						</a>
						<ul class="sub-menu-container">
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/customermaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Customer
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/rolemaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Role
										Master</span>
								</a></li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/departmentmaster}"> <span
										class="icon-common icon-dash"></span> <span
										class="submenu-link-label">Department</span>
								</a></li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/designationmaster}"> <span
										class="icon-common icon-dash"></span> <span
										class="submenu-link-label">Designation</span>
								</a></li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/holidaymaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Holiday
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/leavemaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Leave
										Master</span>
								</a>
							<li class="sub-menu-item" sec:authorize="hasAuthority('FINNACEACCESS')">
								<a class="sub-menu-link" th:href="@{/approvalmaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Approval
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/grademaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Grade
										Master</span>
								</a></li>
							<li class="sub-menu-item" sec:authorize="hasAuthority('FINNACEACCESS')">
								<a class="sub-menu-link" th:href="@{/clustermaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Cluster
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link " th:href="@{/transportdesc}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Transport
										Descriptions</span>
								</a></li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/modemaster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Transport
										Master</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- **********************ROLE ADMIN********************* -->
				<ul class="nav-menu-container" sec:authorize="hasAnyAuthority('ADMIN')">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/home}"> <span
								class="icon-common icon-sidemenu icon-dashboard"></span><span
								class="link-name">Dashboard</span>
						</a>
					</li>
					<li class="nav-item" id="navCourse"><a class="nav-link" id="courseLink"
							onclick="toggleSubMenu(this)">
							<span class="icon-common icon-sidemenu icon-user-service"></span>
							<span class="link-name">User Service</span> <span
								class="icon-common icon-sidemenu icon-chevron"></span>
						</a>
						<ul class="sub-menu-container">
							<li class="sub-menu-item"
								th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/employees' ? 'sub-menu-active':''}">
								<a class="sub-menu-link" th:href="@{/userreg}"> <span
										class="icon-common icon-dash"></span><span>Users Registration</span>
								</a>
							</li>
							<li class="sub-menu-item"
								th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/employees' ? 'sub-menu-active':''}">
								<a class="sub-menu-link" th:href="@{/viewuser}"> <span
										class="icon-common icon-dash"></span><span>View Users</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/commute_approval}">
							<span class="icon-common icon-sidemenu icon-activity"></span>
							<span class="link-name">Commute Approval</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('LEAVEACCESS')"
					th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
					<a class="nav-link active" th:href="@{/leave_approval}">
						<span class="icon-common icon-sidemenu icon-activity"></span>
						<span class="link-name">Leave Approval</span>
					</a>
				</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/commute_disapproved}">
							<span class="icon-common icon-sidemenu icon-disapproved"></span>
							<span class="link-name">Disapproved Data</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('ATTENDANCEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/report_attendance}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-attendance"></span>
							<span class="link-name">Attendance Report</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/commute_report}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-report"></span>
							<span class="link-name">Commute Report</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('LEAVEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/leave_report}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-report"></span>
							<span class="link-name">Leave Report</span>
						</a>
					</li>
					<li class="nav-item" id="navCourse">
						<a class="nav-link" id="courseLink" onclick="toggleSubMenu(this)">
							<span class="icon-common icon-sidemenu icon-settings"></span> <span
								class="link-name">Settings</span> <span
								class="icon-common icon-sidemenu icon-chevron"></span>
						</a>
						<ul class="sub-menu-container">
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/customer}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Customer
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/role}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Role
										Master</span>
								</a></li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/department}"> <span
										class="icon-common icon-dash"></span> <span
										class="submenu-link-label">Department</span>
								</a></li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/designation}"> <span
										class="icon-common icon-dash"></span> <span
										class="submenu-link-label">Designation</span>
								</a></li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/holiday}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Holiday
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/leave}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Leave
										Master</span>
								</a>
							<li class="sub-menu-item" sec:authorize="hasAuthority('FINNACEACCESS')">
								<a class="sub-menu-link" th:href="@{/approval}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Approval
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/grade}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Grade
										Master</span>
								</a></li>
							<li class="sub-menu-item" sec:authorize="hasAuthority('FINNACEACCESS')">
								<a class="sub-menu-link" th:href="@{/cluster}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Cluster
										Master</span>
								</a>
							</li>
							<li class="sub-menu-item"><a class="sub-menu-link " th:href="@{/transport}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Transport
										Descriptions</span>
								</a></li>
							<li class="sub-menu-item">
								<a class="sub-menu-link" th:href="@{/mode}"> <span class="icon-common icon-dash"></span>
									<span class="submenu-link-label">Transport
										Master</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- *******************ROLE HOD******************** -->
				<ul class="nav-menu-container" sec:authorize="hasAnyAuthority('HOD')">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/home}"> <span
								class="icon-common icon-sidemenu icon-dashboard"></span><span
								class="link-name">Dashboard</span>
						</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/userlist}"> <span
								class="icon-common icon-sidemenu icon-user-service"></span><span class="link-name">
								User Details</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/commute_approval}">
							<span class="icon-common icon-sidemenu icon-activity"></span>
							<span class="link-name">Commute Approval</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('LEAVEACCESS')"
					th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
					<a class="nav-link active" th:href="@{/leave_approval}">
						<span class="icon-common icon-sidemenu icon-activity"></span>
						<span class="link-name">Leave Approval</span>
					</a>
				</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/commute_disapproved}">
							<span class="icon-common icon-sidemenu icon-disapproved"></span>
							<span class="link-name">Disapproved Data</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('ATTENDANCEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/report_attendance_hod}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-attendance"></span>
							<span class="link-name">Attendance Report</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('COMMUTEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/commute_report_hod}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-report"></span>
							<span class="link-name">Commute Report</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('LEAVEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/leave_report_hod}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-report"></span>
							<span class="link-name">Leave Report</span>
						</a>
					</li>
				</ul>
				<!-- *******************ROLE FINANCE******************** -->
				<ul class="nav-menu-container" sec:authorize="hasAnyAuthority('FINANCE')">
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/home}"> <span
								class="icon-common icon-sidemenu icon-dashboard"></span><span
								class="link-name">Dashboard</span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="hasAuthority('FINNACEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/home' ? 'sub-menu-active':''}">
						<a class="nav-link active" th:href="@{/claimsettlement}">
							<span class="icon-common icon-sidemenu icon-approval"></span>
							<span class="link-name">Claim Settlement</span>
						</a>
					</li>
					<li class="nav-item" id="navCourse" sec:authorize="hasAnyAuthority('FINNACEACCESS')"><a
							class="nav-link" id="courseLink" onclick="toggleSubMenu(this)">
							<span class="icon-common icon-sidemenu icon-user-service"></span>
							<span class="link-name">Allowance Service</span> <span
								class="icon-common icon-sidemenu icon-chevron"></span>
						</a>
						<ul class="sub-menu-container">
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/advanceallowance}"> <span
										class="icon-common icon-dash"></span> <span class="submenu-link-label">Advance
										Allowance</span>
								</a></li>
							<li class="sub-menu-item"><a class="sub-menu-link" th:href="@{/viewpayable}">
									<span class="icon-common icon-dash"></span> <span class="submenu-link-label">Payable
										Allowance</span>
								</a></li>
						</ul>
					</li>
					<li class="nav-item" sec:authorize="hasAnyAuthority('FINNACEACCESS')"
						th:classappend="${#httpServletRequest.getRequestURI() == '/asset-management/report' ? 'sub-menu-active':''}">
						<a th:href="@{/paidreport}" class="nav-link">
							<span class="icon-common icon-sidemenu icon-paid-report"></span>
							<span class="link-name">Paid Report</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="right-bar">

		<div class="body-wrapper" id="bodyWrapper">